php_flag display_errors on
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # 3. Réécriture douce vers home.php
    RewriteRule ^([a-zA-Z0-9\-_]+)/?$ /home/home.php?tab=$1 [QSA,L]
</IfModule>