.calendar-btn{
    button{
        &:hover{
            border-color: var(--color-main-tertiary);
        }
    }
}

.calendar-container, .gantt-container {
    width: 100%;
    margin-top: 16px;
    transition: opacity 0.2s ease-in-out;
}